<a href="https://colab.research.google.com/github/amaljoseph/TensorflowLearnings/blob/master/numpy-pandas-matplot-scikit/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
!git clone https://github.com/amaljoseph/TensorflowLearnings

Cloning into 'TensorflowLearnings'...
remote: Enumerating objects: 80, done.
remote: Counting objects: 100% (80/80), done.
remote: Compressing objects: 100% (70/70), done.
remote: Total 80 (delta 28), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (80/80), done.

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('TensorflowLearnings/udemy-datasets/salaries.csv')

In [41]:
df

     Name  Salary  Age
0    John   50000   34
1   Sally  120000   45
2  Alyssa   80000   27

In [42]:
df['Salary']

0     50000
1    120000
2     80000
Name: Salary, dtype: int64

In [43]:
df[['Salary', 'Name']]

   Salary    Name
0   50000    John
1  120000   Sally
2   80000  Alyssa

In [44]:
df['Salary'].max()

120000

In [45]:
df.describe()

              Salary        Age
count       3.000000   3.000000
mean    83333.333333  35.333333
std     35118.845843   9.073772
min     50000.000000  27.000000
25%     65000.000000  30.500000
50%     80000.000000  34.000000
75%    100000.000000  39.500000
max    120000.000000  45.000000

In [46]:
df['Salary'] > 60000

0    False
1     True
2     True
Name: Salary, dtype: bool

In [0]:
df = df[df['Salary']>60000]

In [48]:
df

     Name  Salary  Age
1   Sally  120000   45
2  Alyssa   80000   27

In [49]:
#return as numpy matrix
df.as_matrix()

array([['Sally', 120000, 45],
       ['Alyssa', 80000, 27]], dtype=object)