<a href="https://colab.research.google.com/github/amaljoseph/TensorflowLearnings/blob/master/numpy-pandas-matplot-scikit/Scikit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np

In [0]:
from sklearn.preprocessing import MinMaxScaler

In [0]:
data = np.random.randint(0, 100, (10, 2))

**MinMaxScaler**

In [0]:
scaler = MinMaxScaler()

In [5]:
scaler.fit(data)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [6]:
scaler.transform(data)

array([[0.36708861, 0.35294118],
       [0.58227848, 0.        ],
       [0.79746835, 0.18823529],
       [1.        , 0.68235294],
       [0.58227848, 0.57647059],
       [0.88607595, 0.15294118],
       [0.69620253, 0.90588235],
       [0.08860759, 1.        ],
       [0.        , 0.29411765],
       [0.36708861, 0.85882353]])

In [7]:
#in single command
scaler.fit_transform(data)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[0.36708861, 0.35294118],
       [0.58227848, 0.        ],
       [0.79746835, 0.18823529],
       [1.        , 0.68235294],
       [0.58227848, 0.57647059],
       [0.88607595, 0.15294118],
       [0.69620253, 0.90588235],
       [0.08860759, 1.        ],
       [0.        , 0.29411765],
       [0.36708861, 0.85882353]])

**Test Train Split**

In [0]:
import pandas as pd

In [0]:
mydata = np.random.randint(0,101, (50, 4))

In [0]:
df = pd.DataFrame(data=mydata, columns=['f1', 'f2', 'f3', 'label'])

In [16]:
df.head()

   f1  f2  f3  label
0  25  16   8     45
1  45  70  37     56
2  13  73  21     21
3  91  78   6     84
4  51  39  55     44

In [0]:
x = df.drop('label', axis=1)

In [0]:
y = df['label']

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=101)

In [25]:
X_train.shape

(35, 3)